@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('/public/svg/three/doctor-styles.css');
@import url('/public/svg/two/doctors-styles.css');
@import url('/public/svg/one/doctors-styles.css');

:root {
  --custom-blue:#0D2137
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--custom-blue);
}

.bg-custom-image {
  background-image: url('/backgroundImg.png'); /* Adjust the path to your image file */
  background-size: cover;
  background-position: center;
}

.navbarShadow {
  box-shadow: 0px 0px 14px -1px rgb(255, 255, 255,0.2);
}

.whiteCardPadding{
  padding: 2rem 10rem 5rem 20rem;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.slider.full-bleed .slidewrapper {	
  margin-right: var(--slider-fullbleed-gap);
}

.slider.full-bleed .slidewrapper:first-child {
  margin-left: 0;
  padding-left: calc(50vw - (var(--slider-size) / 2));
}

.slider.full-bleed .slidewrapper:last-child {
  margin-right: 0;
  padding-right: calc(50vw - (var(--slider-size) / 2));
}

@media screen and (max-width:767px) {
  
.whiteCardPadding{
  padding: 2rem;
}
}

.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
button {
  margin: 10px;
  background-color: white;
  border: transparent;
  padding: 7px;
  height: 50px;
  width: 50px;
  border-radius: 500px;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin: 20px;
}


/* @media screen and (max-width:500px) {
  
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200%;
  }
  } */